@import 'variables';

.pagination {
    position: fixed;
    top: 100%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -100%);
}

.card-course-item {
    margin-top: 16px;
}
